body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea {
  outline: none;
}

button {
  outline-color: #896a13;
  border: 0;
}

code {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 20px;
}

li {
  border: 1px solid #0000005c;
  border-radius: 14px;
  margin: 20px 0;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #7695ec;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  padding: 24px 30px;
  font-size: 1.2rem;
  font-weight: 500;
}

body {
  background-color: #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 671px;
  height: 100%;
  background-color: #fff;
  min-height: 100vh;
}

form {
  border: 1px solid #0000005c;
  border-radius: 14px;
  margin: 20px 20px 0 20px;
  padding: 17px 0;
}

h2 {
  margin: 0;
  padding: 0 20px 17px 20px;
  font-size: 1.2rem;
  font-weight: 700;
}

.container_titulo {
  margin: 0;
  padding: 15px 20px;
  font-size: 1.1rem;
  font-weight: 700;
  background-color: #7695ec;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}



.edit {
  cursor: pointer;
  max-width: 22px;
  width: 100%;
  transition: all .2s;
}

label p {
  margin: 0 0 7px 0;
  font-size: 0.9rem;
  font-weight: 500;
  color: black;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #141414;
}

.titulo {
  background-color: #7695ec;
  border-radius: 12px;
  color: #fff;
  border-end-start-radius: 0;
  border-end-end-radius: 0;
}

.title::placeholder {
  color: #d7d7d7;
  font-size: 0.8rem;
}

.title {
  border: 1px solid #0000005c;
  border-radius: 5px;
  padding: 5px 7px;
}

.comentario::placeholder {
  color: #d7d7d7;
  font-size: 0.8rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.comentario {
  border: 1px solid #0000005c;
  padding: 3px 7px 0;
  height: 15px;
  resize: none;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom: 0;
}

.comentario1::placeholder {
  color: #d7d7d7;
  font-size: 0.8rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.comentario1 {
  max-height: 30px;
  height: 100%;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid #0000005c;
  border-top: 0;
  padding: 0 7px 3px;
  resize: none;
  overflow: auto;
  word-wrap: break-word;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn_publish button:hover {
  background-color: #5e7de3;
  transition: all .2s;

}

.btn_publish button {
  transition: all .2s;
  border: 0;
  border-radius: 6px;
  padding: 6px 30px;
  color: #fff;
  background-color: #7695ec;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: space-evenly;
  justify-items: center;
  width: 70px;
}

.btn_publish {
  display: flex;
  flex-direction: row-reverse
}

aside div p:nth-child(1) {
  color: #959595;
  font-weight: 700;
  font-size: 0.9rem;
  word-wrap: break-word;

}

aside div p:nth-child(2) {
  color: #959595;
  font-weight: 500;
  font-size: 1rem;
}

aside div p {
  margin: 0;
  padding: 20px 0;
}

aside div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  word-wrap: break-word;
}

aside p {
  margin: 0 0px 15px;
  word-wrap: break-word;
}

aside {
  padding: 0 20px;
}

.autor {
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 300;
}

.edit:hover {
  transform: scale(1.2);
}

.bin_del {
  max-width: 15px;
  width: 100%;
  cursor: pointer;
  transition: all .2s;
}

.bin_del:hover {
  transform: scale(1.2);
  transition: all .2s;

}

.btn_bin_edit1 {
  padding: 3px;
  background-color: rgba(255, 0, 0, 0);
}

.btn_bin_edit2 {
  padding: 0;
  background-color: rgba(255, 0, 0, 0);
}
